*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html, body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding-top: 1em;
    text-align: center;
    font-weight: bolder;
    flex-direction: column;
}

main{
    height: 100%;
    width: 100%;
}

#turno-jogador-1{
    background-color: #333333;
    color: #999999;
}

#turno-jogador-2{
    background-color: #999999;
    color: #333333;
}

#login{
    background-color: rgba(0, 0, 0, 95%);
    opacity: 1;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

#login #login-jogador-1, #login #login-jogador-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    border-radius: 2em;
    min-width: 20em;
    min-height: 15em;
    font-size: 1.1em;
}

#login #login-jogador-1{
    color: #dddddd;
    background-color: #333333;
}

#login #login-jogador-2{
    color: #dddddd;
    background-color: #999999;
}

#login input::placeholder{
    text-align: center;
    font-size: medium;
}

#login input{
    border-radius: 1em;
    border: none;
    height: 3em;
}

#login button{
    border: none;
    width: 6em;
    height: 4em;
    border-radius: 2em;
    font-weight: bolder;
}

#login #jogador-1-botao{
    background-color: #bbbbbb;
    color: #333333;
}

#login #jogador-2-botao-salvar, #login #jogador-2-botao-buscar{
    color: #999999;
}

#jogo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jogo #coluna-meio{
    border-left: 3px solid;
    border-right: 3px solid;
}

#jogo .meio{
    border-top:  3px solid;;
    border-bottom: 3px solid;
}

#jogo #jogador-1 #coluna-meio,#jogo #jogador-1 .meio{
    border-color: #999999;
}

#jogo #jogador-2 #coluna-meio, #jogo #jogador-2 .meio{
    border-color: #333333;
}

#jogo .coluna div{
    width: 7em;
    height: 7em;
}

#jogo button{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: none;
}

#turno-jogador-1 #jogo button{
    color: #999999;
}

#turno-jogador-2 #jogo button {
    color: #333333;
}

#tela-vitoria {
    background-color: rgba(0, 0, 0, 95%);
    opacity: 0;
    position: absolute;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#tela{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#tela h1{
    font-size: 2em;
    color: #999999;
}

#botoes-vitoria button{
    color: #333333;
    border: none;
    width: 6em;
    height: 4em;
    border-radius: 2em;
    font-weight: bolder;
}